# from https://github.com/github/gitignore


# Compiled Object files
*.lo
*.o
*.obj


# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# VSCode
.vscode
.vscode/*
